.file{
    display: flex;
}

.uploadBox{
    width:600px !important;
    background-color: rgb(253,253,253);
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 2px grey;
    width:35px;
    margin-left:15px;
    margin-top:28px;
}


.uploadContainer{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.uploadContainer > img{
    width: 43px !important;
    height:43px !important;
    border-radius: 50% !important;
    margin:0 8px;
}

.uploadContainer >input{
    border:none;
    outline: none;
     background: white;
     padding:15px;
     width:300px;
     border-radius: 30px;
     border:1px solid grey;
     font-size:medium;
     width:25rem;
}

.uploadContainer >input:hover{
     background-color: rgb(240, 234, 234);
}

.options{
    display: flex;
    flex-direction: row;
    position: relative;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin:10px 0 10px 80px;
}


label{
    color:rgb(37,194,247);
    padding:15px 10px;
    margin-left:-80px;
    border-radius: 10px;
    align-items: center;
}

label:hover{
    cursor: pointer;
    background: rgb(233,232,232);
}

label >p{
   color:grey;
   margin-left:10px;
   font-weight:500;
}

.photoBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left:-8px;
}

.videoBox{
    display:flex;
    padding:15px 10px;
    color:rgb(127,193,94);
    border-radius: 10px;
    margin-left: -70px;
}

.videoBox>p{
    color:grey;
    margin-left: 10px;
    font-weight: 500;
    padding-top: 5px;
}

.videoBox:hover{
    cursor: pointer;
    background: lightgray;
}

.eventBox{
    display:flex;
    padding:15px 10px;
    color:rgb(231,163,62);
    border-radius: 10px;
}

.eventBox>p{
    padding-top: 5px;
}

.eventBox:hover{
    cursor: pointer;
    background: lightgray;
}

.descBox{
    display: flex;
    padding:15px 10px;
    color:rgb(252,146,149);
    border-radius: 10px;
}

.descBox:hover{
    cursor: pointer;
    background:lightgrey;
}

.descBox>p{
    color: grey;
    margin-left: 10px;
    font-weight: 500;
    padding-top:5px ;
}

.submit{
    margin-left:15px !important;
    background-color: rgb(23, 116, 202);
    border-radius: 5px;
    color:white;
    padding:3px;
    position: relative;
    top:-110px;
    left:510px
    /* display: none; */
}

.progress{
    color: red !important;
    margin: 20px 0 0 0;
    width: 100% !important;
}











